/* Copyright 2002-2015, University of Colorado Boulder */

body {
  padding-top: 0;
  margin: 0;
  background-color: #ffffff;
}

.div {
  display: block;
}

#page-header {
  background-color: #2a326a;
  height: 127px;
}

#page-header-container {
  height: 127px;
  margin: 0 auto;
  width: 765px;
  position: relative;
}

.header-logo-image {
  position: relative;
  top: 8px;
  display: inline-block;
}

#page-header-sims-served {
  position: absolute;
  left: 250px;
  top: 26px;
  font-size: 13px;
  color: #fff;
  font-style: italic;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#page-header-cu {
  position: absolute;
  right: 19px;
  top: 10px;
  border: 0;
}

#page-header-user {
  color: white;
  display: table;
  margin: 0 auto;
}

.selector {
  margin-left: 20px;
  font-size: 17px;
}

#goButton {
  margin-left: 100px;
}

.btn {
  background: #2a326a;
  padding: 5px 13px;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #1A87B9;
  text-decoration: none;
}

.btn:hover {
  background: #6D77BD;
}

.translate-btn {
  position: relative;
  float: left;
  margin-left: 5px;
}

[class~=testButton] {
  left: 100px;
}

[class~=saveButton] {
  left: 200px;
}

[class~=submitButton] {
  left: 300px;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

* {
  font-family: Arial, sans-serif;
}

* {
  text-align: left;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 0px 15px;
  text-align: center;
}

.top-btns{
  position: relative;
  margin-left: 5em;
  height: 32px;
}

.bottom-btns{
  position: relative;
  top: 20px;
  margin-left: 5em;
  margin-bottom: 5em;
}

.savedSpan{
  font-size: 15px;
  color: green;
  position: relative;
  left: 5.4em;
  bottom: .3em;
  visibility: hidden;
}

.saving-gif {
  display: none;
  padding-left: 20px;
}

.saving-gif img {
  height: 30px;
}

.validation-message {
  color: red;
  margin-top: 1em;
}

.string-translation-table {
  border-collapse: collapse;
}

.string-translation-table td, th {
  padding: 5px;
  /*border-bottom: 1px solid gray;*/
}

.string-translation-table td:nth-child(1) {
  font-size: 12px;
  color: gray;
  text-align: right;
}

.string-translation-table td:nth-child(2) {
  max-width: 400px;
}

.string-translation-table div[contenteditable] {
  width: 300px;
  padding: 3px;
  font-size: 16px;
  border: 1px solid lightgrey;
  display: inline-block;
  height: 18px;
}

.highlight {
  color: #0000ff;
}

img.warning {
  width: 28px;
  vertical-align: bottom
}

img.warning:hover {
  cursor: pointer;
}

