<!-- Copyright 2002-2015, University of Colorado Boulder -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{=it.title}}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/translate/css/main.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
<div id="page-header" class="ltr">
  <div id="page-header-container">
    <div id="page-header-logo">
      <a href="/" style="color: white;"> <!--white color for FF focus outline-->
        <img src="http://phet.colorado.edu/images/phet-logo-117.svg" alt="PhET Home Page" title="Go to the PhET home page" class="header-logo-image"
             width="223" height="106" id="phet-logo-main-image">
      </a>
    </div>
    <div id="page-header-sims-served">
      <span>Over 200 million simulations delivered</span>
    </div>
    <div id="page-header-cu">
      <a href="http://www.colorado.edu/" target="_blank" style="display: inline-block; color: white">
        <img src="http://phet.colorado.edu/images/cu-logo-half.png" alt="University of Colorado" width="150" height="77" style="border: none;">
      </a>

      <div id="page-header-user">
        {{? it.username }}
        <div>
          <span>user: {{=it.username}}</span> |
          <span><a href="/translate/logout">logout</a></span>
        </div>
        {{?}}
      </div>
    </div>
  </div>
</div>

{{=it.body}}

</body>
</html>
