<!-- Copyright 2017, University of Colorado Boulder -->

<!--HTML file for test harnesses used during development, should never appear to non-PhET users-->

<div class="container">
  <h1>Translation Utility Test Page</h1>

  <p>This page is used for testing the PhET translation utility.  It is intended for use only by PhET developers.  If
    you are not a member of the PhET development team, please click <a href="/translate/">here</a> to return to the main
    translation page.</p>

  <br>
  <button type="button" id="testRetrievingMultipleFilesFromGitHub">Test: Retrieve multiple files from GitHub</button>
  <br><br>
  <button type="button" id="testCommittingMultipleFilesToGitHub">Test: Commit multiple files to GitHub</button>
  <br><br>

  <!--link back to main page-->
  <a href="/translate/">Main Translation Page</a>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="/translate/js/testHarness.js"></script>
</div>