<div class="container">
  <h1>{{=it.title}}</h1>

  <h5>{{=it.subtitle}}</h5>

  <form name="form" id="strings" method="post">
    <h2>Sim Strings</h2>
    <table id="stringsTable" style="width:50%">
      <tr>
        <td><strong>English</strong></td>
        <td><strong>{{=it.destinationLanguage}}</strong></td>
      </tr>
      {{~it.simStringsArray :value:index}}
      <tr data-string-key={{=value.key}}>
        <td>{{=value.string}}</td>
        <td><input type="text" name="{{=value.repo}} {{=value.key}}" value="{{=value.value}}"></td>
      </tr>
      {{~}}
    </table>

    <h2>Common Strings</h2>
    <table id="commonStringsTable" style="width:50%">
      <tr>
        <td><strong>English</strong></td>
        <td><strong>{{=it.destinationLanguage}}</strong></td>
      </tr>
      {{~it.commonStringsArray :value:index}}
      <tr data-string-key={{=value.key}}>
        <td>{{=value.string}}</td>
        <td><input type="text" name="{{=value.repo}} {{=value.key}}" value="{{=value.value}}"></td>
      </tr>
      {{~}}
    </table>

    <input id="saveField" type="hidden" name="save" value="false">
  </form>

  <button type="button" class="btn translate-btn" id="testButton">Test</button>
  <button type="submit" class="btn translate-btn" id="submitButton" form="strings">Submit</button>
  <button type="button" class="btn translate-btn" id="saveButton" form="strings">Save</button>

  <!--data for sim url-->
  <div id="simData" data-sim-url={{=it.simUrl}} data-sim-name={{=it.simName}} data-trusted-translator={{=it.trustedTranslator}}></div>

  <script>
    var testButton = document.getElementById( 'testButton' );
    var submitButton = document.getElementById( 'submitButton' );
    var saveButton = document.getElementById( 'saveButton' );
    var simData = document.getElementById( 'simData' );

    testButton.addEventListener( 'click', function() {
      var simUrl = simData.getAttribute( 'data-sim-url' );
      var stringPrefix = simData.getAttribute( 'data-sim-name' ).replace( /-/g, '_' ).toUpperCase();
      var stringsToReplace = {};
      var table = document.getElementById( 'stringsTable' );
      for ( var i = 1, row; row = table.rows[ i ]; i++ ) {
        var translation = row.cells[ 1 ].children[ 0 ].value;
        if ( translation.length > 0 ) {
          stringsToReplace[ stringPrefix + '/' + row.getAttribute( 'data-string-key' ) ] = translation;
        }
      }
      var win = window.open( simUrl + '?' + 'strings=' + encodeURIComponent( JSON.stringify( stringsToReplace ) ), '_blank' );
      win.focus();
    } );

   saveButton.addEventListener( 'click', function() {
     document.form.save.value = true;
     document.getElementById('strings').submit();
   } );

  </script>
</div><!-- /.container -->
