<div class="container">
  <h1>{{=it.title}}</h1>

  <h4><a href="/translate/">Translate Another Simultaion Here</a></h4>

  <h5>{{=it.subtitle}}</h5>


  <div class="top-btns">
    <button type="button" class="btn translate-btn" id="testButton1">Test</button>
    <button type="button" class="btn translate-btn" id="saveButton1" form="strings">Save</button>
    <button type="submit" class="btn translate-btn" id="submitButton1" form="strings">Submit</button>
  </div>
  <form name="form" id="strings" method="post">
    <h2>Sim Strings</h2>
    <table id="stringsTable" style="width:50%">
      <tr>
        <td><strong>English</strong></td>
        <td><strong>{{=it.destinationLanguage}}</strong></td>
      </tr>
      {{~it.simStringsArray :value:index}}
      <tr data-string-key={{=value.key}}>
        <td>{{=value.englishValue}}</td>
        <td><input type="text" name="{{=value.repo}} {{=value.key}}" value="{{=value.value}}"></td>
      </tr>
      {{~}}
    </table>

    <h2>Common Strings</h2>
    <table id="commonStringsTable" style="width:50%">
      <tr>
        <td><strong>English</strong></td>
        <td><strong>{{=it.destinationLanguage}}</strong></td>
      </tr>
      {{~it.commonStringsArray :value:index}}
      <tr data-string-key={{=value.key}}>
        <td>{{=value.englishValue}}</td>
        <td><input type="text" name="{{=value.repo}} {{=value.key}}" value="{{=value.value}}"></td>
      </tr>
      {{~}}
    </table>

  </form>

  <div class="bottom-btns">
    <button type="button" class="btn translate-btn" id="testButton2">Test</button>
    <button type="button" class="btn translate-btn" id="saveButton2" form="strings">Save</button>
    <button type="submit" class="btn translate-btn" id="submitButton2" form="strings">Submit</button>
  </div>

  <!--data for sim url-->
  <div id="simData" data-sim-url={{=it.simUrl}} data-sim-name={{=it.simName}} data-locale-name={{=it.localeName}}
       data-trusted-translator={{=it.trustedTranslator}}></div>

  <script type="text/javascript" src="/translate/js/translate-sim.js"></script>
</div><!-- /.container -->

