<!-- Copyright 2002-2020, University of Colorado Boulder -->

<style>
  .table-header {
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
  }

  td {
    padding: 3px 7px 2px 7px;
    border: 1px solid rgb(0, 0, 0);
  }
</style>

<script type="text/javascript">
  $( document ).ready( function() {
    $( 'td[dir=rtl]' ).css( 'text-align', 'right' );
  } );
</script>

<div class="container">
  <h1>{{=it.title}}</h1>

  <h2>Translation submitted for simulation {{=it.simName}}, locale {{=it.targetLocale}}</h2>

  <p>Your translation should appear on the website within half an hour.</p>

  <h4><a href="/translate/">Translate Another Simulation</a></h4>
</div>