<div class="container">
  <h1>{{=it.title}}</h1>

  <h4><a href="/translate/">Translate Another Simulation</a></h4>

  <h5>{{=it.subtitle}}</h5>

  <div class="validation-message"></div>
  <div class="top-btns">
    <button type="button" class="btn translate-btn" id="testButtonTop">Test</button>
    <button type="button" class="btn translate-btn" id="saveButtonTop" form="strings">Save</button>
    <button type="submit" class="btn translate-btn" form="strings">Submit</button>
    <span class="saving-gif">Saving... <img src="/translate/img/spinning-wheel.gif"></span>
    <span class="savedSpan" id="savedTop"><br><br>Saved</span>
  </div>
  <form name="form" id="strings" method="post">
    <h2>Sim Strings</h2>
    <table id="simStringsTable" style="width:50%">
      <tr>
        <td><strong>English</strong></td>
        <td><strong>{{=it.destinationLanguage}}</strong></td>
      </tr>
      {{~it.simStringsArray :value:index}}
      <tr data-string-key={{=value.key}} data-string-repo={{=value.repo}}>
        <td>{{=value.englishValue}}</td>
        <td><input type="text" name="{{=value.repo}} {{=value.key}}" value="{{=value.value}}"></td>
      </tr>
      {{~}}
    </table>

    <h2>Common Strings</h2>

    <p style="color: red;">WARNING: Translating common strings will effect all simulations that use these strings.</p>

    <table id="commonStringsTable" style="width:50%">
      <tr>
        <td><strong>English</strong></td>
        <td><strong>{{=it.destinationLanguage}}</strong></td>
      </tr>
      {{~it.commonStringsArray :value:index}}
      <tr data-string-key={{=value.key}} data-string-repo={{=value.repo}}>
        <td>{{=value.englishValue}}</td>
        <td><input type="text" name="{{=value.repo}} {{=value.key}}" value="{{=value.value}}"></td>
      </tr>
      {{~}}
    </table>

  </form>

  <div class="bottom-btns">
    <button type="button" class="btn translate-btn" id="testButtonBottom">Test</button>
    <button type="button" class="btn translate-btn" id="saveButtonBottom" form="strings">Save</button>
    <button type="submit" class="btn translate-btn" id="submitButtonBottom" form="strings">Submit</button>
    <span class="saving-gif">Saving... <img src="/translate/img/spinning-wheel.gif"></span>
    <span class="savedSpan" id="savedBottom"><br><br>Saved</span>
  </div>
  <div class="validation-message"></div>

  <!--data for sim url-->
  <div id="simData" data-sim-url={{=it.simUrl}} data-sim-name={{=it.simName}} data-locale-name={{=it.localeName}}
       data-trusted-translator={{=it.trustedTranslator}} data-direction={{=it.direction}}></div>

  <script type="text/javascript" src="/translate/js/translate-sim.js"></script>
</div><!-- /.container -->

