





<div class="container">
  <h1>{{=it.title}}</h1>

  <div>
    <h2>Select Simulation</h2>
    <select id="simSelector" class="selector">
      {{~it.simInfoArray :value:index}}
      <option value="{{=value.projectName}}">{{=value.simTitle}}</option>
      {{~}}
    </select>

    <h2>Select Target Locale</h2>
    <select id="localeSelector" class="selector">
      {{~it.localeInfoArray :value:index}}
      <option value="{{=value.code}}">{{=value.name}} ({{=value.code}})</option>
      {{~}}
    </select>
  </div>


  <br>

  <div>
    <button type="button" class="btn" id="goButton">Go</button>
  </div>

  <script>
    var button = document.getElementById( "goButton" );
    button.addEventListener( 'click', function() {
      console.log( 'go button clicked' );
      var simSelector = document.getElementById( "simSelector" );
      var simulation = simSelector.options[ simSelector.selectedIndex ].value;
      var targetLocaleSelector = document.getElementById( "localeSelector" );
      var targetLocale = targetLocaleSelector.options[ targetLocaleSelector.selectedIndex ].value;
      window.location.href = window.location.href + 'sim/' + simulation + '/' + targetLocale;
    } );
  </script>
</div>