<!DOCTYPE html>
<!-- Copyright 2002-2015, University of Colorado Boulder -->

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>PhET Translation Utility</title>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<h1>PhET Translation Utility</h1>

<div>
  <h2>Select Simulation</h2>
  <select id="simSelector">
    <option value="arithmetic">Arithmetic</option>
    <option value="neuron">Neuron</option>
    <option value="reactants-products-and-leftovers">Reactants, Products, and Leftovers</option>
  </select>

  <h2>Select Target Language</h2>
  <select id="localeSelector">
    <option value="de">German</option>
    <option value="fr">French</option>
    <option value="zh_CN">Chinese - China</option>
    <option value="zh_TW">Chinese - Taiwan</option>
    <option value="es">Spanish</option>
    <option value="es_MX">Spanish - Mexico</option>
  </select>
</div>

<div style="margin:30px">
  <button id="goButton">Go</button>
</div>

<script>
  var button = document.getElementById( "goButton" );
  button.addEventListener( 'click', function() {
    console.log( 'button clicked' );
    var simSelector = document.getElementById( "simSelector" );
    var simulation = simSelector.options[ simSelector.selectedIndex ].value;
    var targetLocaleSelector = document.getElementById( "localeSelector" );
    var targetLocale = targetLocaleSelector.options[ targetLocaleSelector.selectedIndex ].value;
    window.location.href = window.location.href + 'sim/' + simulation + '/' + targetLocale;
  } );
</script>
</body>
</html>
